---
import MainLayout from "@layouts/MainLayout.astro";
import HeroSection from "@components/index/HeroSection.astro";
import MainGallery from "@components/index/MainGallery.astro";
---

<MainLayout pageTitle="Home">
    <div class="container" id="root">
        <section class="hero-container">
            <HeroSection/>
        </section>

        <section class="gallery-container">
            <MainGallery/>
        </section>
    </div>
</MainLayout>

<style>
    .container {
        position: relative;
    }

    .hero-container {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .gallery-container {
        position: relative;
        z-index: 1;

        opacity: 0;
        transition: opacity 0.35s;
    }

    .scrolled .hero-container {
        opacity: 0;
        height: 50px;
        transition: opacity 0.15s, height 0.3s;
        pointer-events: none;
    }

    .scrolled .gallery-container {
        opacity: 1;
    }

    @media (min-width: 768px) {
        .scrolled .hero-container {
            height: 150px;
        }
    }
</style>

<script>
    function setup() {

        function update() {
            const root = document.getElementById("root");
            if (window.scrollY > 0) {
                root?.classList.add("scrolled");
            } else {
                root?.classList.remove("scrolled");
            }
        }

        // Remove and reattach to avoid duplicates
        window.removeEventListener("scroll", update);
        window.addEventListener("scroll", update);
    }

    document.addEventListener("astro:page-load", setup);
</script>