---
import MainLayout from "@layouts/MainLayout.astro";
import HeroSection from "@components/main/HeroSection.astro";

---

<MainLayout pageTitle="Home">
    <main class="content">
        <section class="hero">
            <HeroSection />
        </section>

        <section class="rest">
            <slot />
        </section>
    </main>
</MainLayout>