---
import MainLayout from "@layouts/MainLayout.astro"
---

<MainLayout pageTitle="Extended Works">
    <main class="main-container">
        <h1>Extended works page are now in process.</h1>
    </main>
</MainLayout>