---
import MainLayout from "@layouts/MainLayout.astro"
import ProjectCard from "@components/ProjectCard.astro";
import {projects} from "@data/projects";
---

<MainLayout pageTitle="Extended Works">

    <section>
        <p class="caption">Works.</p>
        <h1 class="title">
            A curated collection of work across disciplines
        </h1>
    </section>

    <section class="editorial-container section-bottom">
        <div class="editorial-rule"></div>

        <div class="grid">
            <!-- Row 1 -->
            <div class="col col-7">
                <ProjectCard {...projects[0]} aspect="portrait"/>
            </div>

            <div class="col col-5 offset-top-lg">
                <ProjectCard {...projects[1]} aspect="landscape"/>
            </div>

            <!-- Row 2 -->
            <div class="col col-5">
                <ProjectCard {...projects[2]} aspect="landscape"/>
            </div>

            <div class="col col-7 offset-top-md">
                <ProjectCard {...projects[3]} aspect="portrait"/>
            </div>
        </div>
    </section>
</MainLayout>

<style>
    .caption {
        color: var(--color-text-slight);
        align-self: flex-start;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    .section-top {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .section-bottom {
        padding-bottom: 6rem;
    }

    .editorial-caption {
        margin-bottom: 1.5rem;
    }

    .editorial-rule {
        margin-bottom: 4rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .col {
        width: 100%;
    }

    /* Desktop */
    @media (min-width: 768px) {
        .section-top {
            padding-top: 5rem;
        }

        .section-bottom {
            padding-bottom: 9rem;
        }

        .grid {
            grid-template-columns: repeat(12, 1fr);
            column-gap: 3rem;
            row-gap: 5rem;
        }

        .col-7 {
            grid-column: span 7;
        }

        .col-5 {
            grid-column: span 5;
        }

        .offset-top-lg {
            margin-top: 8rem;
        }

        .offset-top-md {
            margin-top: 4rem;
        }
    }
</style>
