---

---

<aside class='left-sidebar'>
    <h1>left</h1>
</aside>

<style>
    .left-sidebar {
        align-self: flex-start;
    }

    @media (max-width: 768px) {
        aside {
            display: none;
        }
    }
</style>