---
interface Props {
    class?: string;
    height?: number;
    width?: number;
}

const {
    class: className,
    height = 24,
    width = 24
} = Astro.props;
---

<button class="menu-button {class}">
    <button class={`menu-button ${className ?? ''}`}>
        <svg width=`${width}px` height=`${height}px` fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 5H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M3 19H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
    </button>
</button>

<style>
    .menu-button {
        height: 24px;
        width: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
</style>