---

---

<aside class='right-sidebar'>
    <a class="pageTitle playfair"
       href="/"
    >MANUEL PAVÓN</a>
</aside>

<style>
    .right-sidebar {
        position: sticky;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
    }

    a.pageTitle {
        text-decoration: none;
        color: var(--color-text);
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        writing-mode: sideways-lr;
        text-orientation: sideways;
        font-weight: 900;
        padding: 0 1rem;
    }
</style>